{% extends "base.html" %}
{% block content %}
    <div class="container" style="padding-bottom: 0px;margin-bottom: 214px;">
        <div class="row">
            <div class="col-md-12 offset-lg-0">
                <p>Current state of the restaurant</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="padding-bottom: 0px;">
                <p>Paragraph</p>
                <ul class="list-group">
                    <li class="list-group-item"><span>List Group Item 1</span></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Paragraph</p>
                <ul class="list-group">
                    <li class="list-group-item"><span>List Group Item 1</span></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
            <div class="col-md-4">
                <p>Paragraph</p>
                <ul class="list-group">
                    <li class="list-group-item"><span>List Group Item 1</span></li>
                    <li class="list-group-item"><span>List Group Item 2</span></li>
                    <li class="list-group-item"><span>List Group Item 3</span></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}