{% extends "base.html" %}
{% block content %}
    <div class="container" style="padding-bottom: 0px; margin-bottom: 214px;">
        {% include "forms.html" %}
        <hr>
        <div class="row">
            <div class="col-md-12 offset-lg-0">
                <h4 style="text-align: center">Current state of the restaurant</h4>
                <br><br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4" style="padding-bottom: 0px;">
                <p>Ingredients</p>
                <ul class="list-group">
                    {% for ingredient in ingredients %}
                    <li class="list-group-item"><span>{{ ingredient.name }} - {{ ingredient.quantity }} left</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <p>Dishes</p>
                <ul class="list-group">
                    {% for dish in dishes %}
                    <li class="list-group-item"><span>{{ dish.name }}</span></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4">
                <p>Orders</p>
                <ul class="list-group">
                    {% for order in orders %}
                    <li class="list-group-item"><span>{{ order.name }} - {{ order.created_at }}</span></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}