{% extends 'base.html' %}
{% block content %}
<section>
    <div class="container py-5">
        <h2 class="mb-4">Report 2</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.order_name.label(class_='form-label') }}
                {{ form.order_name(class_='form-control') }}
            </div>
            <button class="btn btn-primary" type="submit">Generate report</button>
        </form>
        <hr>
        {% if order %}
        <div class="card mt-4">
            <div class="card-header">
                <h3 class="card-title">Bill No {{ order.id }}</h3>
            </div>
            <div class="card-body">
                <p class="card-text">Bill Date: <b>{{ order.created_at.strftime('%Y-%m-%d %H:%M') }}</b></p>
                <p class="card-text">Customer card number: <b>{{ customer.card_number }}</b></p>
                <p class="card-text">Number of visits: <b>{{ customer.visits_number }}</b></p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Dish Name</th>
                            <th scope="col">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in dishes %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <p class="card-text">Total Price: {{ order.price }} PLN</p>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}